<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile"
            type="File"
            fileName="${basedir}dcs-insight-client.log"
            layout="${longdate}|${level}|${message}|${exception:format=Message,StackTrace}${newline}"/>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>